Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/FirstPersonBP/Maps/HordeMap.umap
Content/FirstPersonBP/Maps/HordeMap.umap
Content/FirstPersonBP/Maps/HordeMap_BuiltData.uasset
Content/Sounds/SFX/123632__vosvoy__homemadeflamethrower-fire-loop.uasset
